:root {
    --dark: #222;
    --light: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--dark);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
}

.crud {
    width: 80%;
    margin: auto;
}

.head {
    text-align: center;
    text-transform: uppercase;
    margin: 1rem;
}

input {
    width: 100%;
    height: 30px;
    outline: none;
    background: var(--dark);
    border: 1px solid var(--light);
    margin: 4px 0;
    border-radius: 4px;
    color: var(--light);
    padding: 17px 4px;
    box-sizing: border-box;
}

input::placeholder {
    text-transform: capitalize;
}

.price input {
    width: 20%;
}

#total {
    background: #f77575;
    border-radius: 4px;
    padding: 5px 4px;
    color: #222;
}

#total::before {
    content: "Total : ";
}

button {
    color: #fff;
    background: darkmagenta;
    border-radius: 4px;
    height: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#submit {
    margin: 4px 0;
}


/* //outputs */

#searchInput {
    position: relative;
}

#searchInput span {
    position: absolute;
    left: 2rem;
    top: 60%;
    background-color: crimson;
    padding: 2px 4px;
    font-size: 14px;
    border-radius: 5px;
    display: none;
}

.btnSearch {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
}

.btnSearch button {
    width: auto;
}

.btnSearch button:nth-child(1),
.btnSearch button:nth-child(3) {
    flex-grow: 1;
}

.btnSearch button:nth-child(1) {
    margin-right: 0.5rem;
}

.btnSearch button:nth-child(3) {
    margin-left: 0.5rem;

}

.btnSearch button:nth-child(2) {
    padding: 0 1rem;
    display: none;
}


/* table */
table {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--light);
}

table tr:hover {
    background-color: rgb(51, 51, 51);
}

th, td {
    padding: 5px;
}